.raw
  .container
    %h2.text-center What are you looking for today ?
    .col-sm-6.col-sm-offset-3
      %input.form-control{placeholder: "Search...",type: "text" }
  .row.text-center
    - Category.all.each do |category|
      = link_to category.name.capitalize, category
