.raw
  .container
    %h2.text-center What are you looking for today ?
    .col-sm-6.col-sm-offset-3
      %input.form-control{placeholder: "Search...",type: "text" }
  .row.text-center
    - Category.all.each do |category|
      = link_to category.name.capitalize, category
  .row.text-center
    - @posts.each_slice(3) do |slice|
      %%br
      - slice.each do |post|
        %p
          = link_to post.title, post
          Categories:
          - post.categories.each do |category|
            = category.name
