%h1 My_posts
= button_to "Add Post", new_post_path, method: :get, class: 'btn'

- @posts.each do |post|
  %p
    = link_to post.title, post
    = link_to 'Edit', edit_post_path(post) if post_owner(post)
